.links {
    float: right;
    font: small-caps bold 24px/1 sans-serif;
}

.name {
    font: small-caps bold 24px/1 sans-serif;
}

.links a {
    text-decoration: none;
    font: small-caps bold 24/1px sans-serif;
}

header {
    font-size: 2rem;
    padding: 0.5em 1em;
}